main > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: var(--side-padding);
}

main section {
	
}

main section#content {
	flex: 1 0 32rem;
}

main section#sidebar {
	flex: 0 0 auto;
	background-color: var(--grey-light);
	width: 200px;
	padding: 1rem;
}

main h1 {
	font-size: 2.5rem;
}