div#heading {
	background-image: url("../canvas.png");
	background-repeat: repeat-x;
	background-position-y: bottom;
	position: relative;
	z-index: 3;
	font-size: 1.4rem;
}

div#heading > div {
	overflow: auto hidden;
	padding-bottom: 1rem;
	background-color: var(--blue);
	mix-blend-mode: overlay;
}

/* --------------- aside ---------------- */
aside {
	background-color: var(--white);
	font-size: 1rem;
}

aside table {
	width: 100%;
	border: 0;
	font-weight: bold;
}

aside table thead {
	background-color: var(--black);
	color: var(--white);
}

aside table thead th {
	padding: 0.5rem;
}

aside table tbody tr:first-child {
	background-color: var(--pink);
}

aside table tbody tr {
	position: relative;
	background-color: var(--grey-light);
}

aside table tbody td {
	padding: 1rem;
}

aside table tbody td:not(:first-child):before {
	content: "";
	position: absolute;
	top: 1rem;
	margin-left: -1rem;
	width: 3px;
	height: calc(100% - 2rem);
	background-color: var(--black);
}

aside > :not(table) {
	display: block;
	text-align: center;
}

aside table + a {
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
	background-color: var(--blue-light);
	outline: 0px solid rgba(0, 0, 0, 0);
	transition: var(--slow-transition-duration);
}

aside table + a:hover,
aside table + a:focus {
	outline: 1px solid var(--black);
}

aside img {
	margin: 1rem auto;
	min-width: 15rem;
}

@media (orientation: landscape) and (min-width: 1100px) {
	aside {
		position: absolute;
		z-index: 5; /*TODO: Das hier macht bisher nichts. Audiocircles liegen über dem Sendeplan.*/
		top: 1.5rem;
		/*right: max(0px, calc(6rem + (100vw - var(--site-width)) / 2));*//*TODO: das ist eigentlich richtig, platziert aber den Sendeplan zu weit links*/
		right: max(0px, calc((100vw - var(--site-width)) / 2));
		width: auto;
		min-width: 250px;
		max-width: 400px;
	}
}

/* ---------------- main ---------------- */
main section {
	padding: 1rem;
}

main > section:nth-child(even) {
	background-color: var(--grey-light);
}

main section h1 {
	margin-top: 0;
	font-size: 2.2rem;
}



/* Top-aktuell */
#news div {
	display: flex;
	gap: 3rem;
	flex-wrap: wrap;
	position: relative;
	font-weight: bold;
}

#news div a {
	width: 15rem;
}

#news div img {
	display: block;
	width: 100%;
	margin-bottom: 1.5rem;
}

#news div span {
	
}

#news div span.contenttype {
	position: absolute;
	margin-top: -2.5rem;
	padding: 4px 1rem;
	background-color: var(--grey-dark);
	color: var(--white);
}

#news div span.title {
	
}

/* Themen */
#topics div {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

#topics div a {
	display: block;
	position: relative;
	width: 15rem;
	height: 15rem;
	background-size: cover;
}

#topics div a span {
	display: block;
	position: absolute;
	bottom: 2rem;
	z-index: 2;
	min-width: 6rem;
	max-width: min-content;
	padding: 4px 1rem;

	background-color: var(--black);
	color: var(--white);
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-weight: bold;
}

#topics div a span:after {
	--angle-slant: 20deg;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	width: 4rem;
	height: 100%;
	
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transform: skew(var(--angle-slant));
	-ms-transform: skew(var(--angle-slant));
	transform: skew(var(--angle-slant));

	background-color: var(--black);
}




section#instagram > div {
	display: flex;
	gap: 3rem 0.5rem;
	flex-wrap: wrap;
}

section#instagram > div {
	margin-bottom: 2rem;
}

section#instagram > div a {
	position: relative;
}

/*Likes & Kommentare*/
section#instagram a div {
	position: absolute;
	z-index: -1;
	box-sizing: border-box;
	width: 100%;
	padding: 0.5rem;
	transform: translateY(-100%);
	transition: transform var(--fast-transition-duration) linear;
	background-color: var(--black);
	color: var(--white);
	text-align: center;
}

section#instagram a:hover div,
section#instagram a:focus div {
	transform: translateY(0);
}

section#instagram a div > * {
	display: inline-block;
	padding: 0 0.25rem;
}

section#instagram a div img {
	height: 1em;
}