/*
canvas {
	position: absolute;
	z-index: 2;
	left: 0;
	width: 2560px;
	height: 200px;
	padding: 0;
	opacity: 0.04;
}
*/
div#heading {
	height: 200px;
	background-image: url('canvas.png');
	background-repeat: repeat-x;
	background-position-y: bottom;
	background-color: var(--blue-light);
	position: relative;
	z-index: 1;
	font-size: 1.4rem;
}

/* --------------- aside ---------------- */
aside {
	font-size: 1rem;
}

aside table {
	width: 100%;
	border: 0;
}

aside table thead {
	background-color: var(--black);
	color: var(--white);
}

aside table thead th {
	padding: 0.5rem;
}

aside table tbody tr:first-child {
	background-color: var(--pink);
}

aside table tbody tr {
	background-color: var(--grey-light);
}

aside table tbody td {
	padding: 1rem;
}

aside table tbody td:not(:first-child):before {
	--lineheight: 1.5em;
	content: "";
	position: absolute;
	margin-left: -1rem;
	margin-top: calc((1em - var(--lineheight)) / 2);
	width: 3px;
	height: var(--lineheight);
	background-color: var(--black);
}

aside table + a {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
	background-color: var(--blue-light);
	text-align: center;
}

@media (orientation: landscape) {
	aside {
		position: absolute;
		z-index: 3; /*TODO: Das hier macht bisher nichts. Audiocircles liegen über dem Sendeplan.*/
		top: 1.5rem;
		right: 6rem;
		height: 500px;
		width: 300px;
	}
}

/* ---------------- main ---------------- */
main {

}

main section {
	padding: 1rem;
}

main section:nth-child(2) {
	background-color: var(--grey-light);
}

main section h1 {
	margin-top: 0;
	font-size: 2.2rem;
}