/* ------------ Farbtemplate ------------ */
:root {
	--black: hsl(60, 4%, 11%);
	--darkgrey: hsl(0, 0%, 20%);
	--grey: hsl(0, 0%, 60%);
	--grey-light: hsl(225, 14%, 95%);
	--white: white;
	--blue: hsl(198, 100%, 44%);
	--blue-light: hsl(172, 90%, 81%);
	--pink: hsl(306, 50%, 80%);
}

/* --------- Diverse Variablen ---------- */

:root {
	--transition-duration: 400ms;
}

@media (prefers-reduced-motion) {
	:root {
		--transition-duration: 0ms;
	}
}

/* -------------- Groessen -------------- */
:root {
	--side-padding: 7rem;
}

@media (orientation: portrait) {
	:root {
		--side-padding: 1rem;
	}
}

/* --------- Nuetzliche Klassen --------- */
.center {
	display: block;
}

.center > * {
	margin: 0 auto;
}

/*Hintergrundfarbe geht über volle Breite*/
.layout-full {
	box-sizing: content-box;
	max-width: 79rem;
	margin: 0;
	padding-left: 20vw;
	padding-right: 20vw;
}

/*Hintergrundfarbe ist nur mittig auf der Seite*/
.layout-center {
	max-width: 79rem;
	box-sizing: content-box;
	margin: 0 auto;
	padding-left: var(--side-padding) !important;
	padding-right: var(--side-padding) !important;
}

/*keine Textselektion, keine blinkenden I-Cursor*/
.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* ------------ base layout ------------- */
body {
	margin: 0;
	overflow-x: hidden;
	font-family: Roboto, Montserrat, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: var(--black);
}

body > * {
	padding: 1rem;
}

a {
	color: inherit;
}

a:not(:focus) {
	text-decoration: none;
}

/* --------------- header --------------- */
header {
	box-shadow: 0 0 10px 0 var(--grey);
	font-weight: bolder;

	display: flex;
	flex-wrap: wrap;
	row-gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

header div:first-child {
	flex: 1 0 auto;
}

header #logo img {
	height: 4rem;
}

header div:not(#logo) img {
	width: 1.4rem;
	height: 1.4rem;
}

/* ---------------- nav ----------------- */
nav {
	background-color: var(--black);
	color: var(--white);
	padding: 0; /*wird partiell von .layout-center überschrieben*/

	display: flex;
	flex-wrap: wrap;
}

nav input {
	margin: 1rem; /*TODO: beim Aktivieren und Deaktivieren dieser Eigenschaft sieht man, dass sich die Höhe von nav um 1px ändert*/
}

nav a {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 1rem;
	transition: color var(--transition-duration);
}

nav > *:first-child a {
	margin-left: 0;
}

nav > * {
	position: relative;
}

nav > * a:hover,
nav > * a:focus,
nav .currentpage > a {
	color: var(--blue);
}

nav a:focus {
	outline: 3px solid var(--grey);
	border-radius: 5px;
}

@keyframes nav-show {
	0% {
		padding: 0;
		padding-top: 2rem;
		visibility: collapse;
		opacity: 0;
	}
	100% {
		padding: 0;
		padding-top: 0;
		visibility: visible;
		opacity: 1;
	}
}

@keyframes nav-hide {
	0% {
		padding: 0;
		padding-top: 0;
		visibility: visible;
		opacity: 1;
	}
	100% {
		padding: 0;
		padding-top: 2rem;
		visibility: collapse;
		opacity: 0;
	}
}

nav ul {
	/*display: none;*/
	position: absolute;
	z-index: 5;
	margin: 0;
	top: -100vh;
	left: 50%;
	transform: translateX(-50%);
	/*
	animation-name: nav-hide;
	animation-direction: normal;
	animation-duration: var(--transition-duration);
	animation-fill-mode: both;
	*/
	
	padding: 0;
	padding-top: 2rem;

	/*visibility: collapse;*/
	opacity: 0;
	transition: opacity var(--transition-duration), padding var(--transition-duration);
	/*transition: all 1s ease-out;
	transition-timing-function: ease-out;
	transition-delay: 0ms;
	transition: visibility 0ms linear 2s;*/
	
	list-style-type: none;
}

nav div > a:hover + ul,
nav div > a + ul:hover,
nav div > a:focus + ul,
nav .currentpage:hover > a + ul,
nav .currentpage > a:focus + ul {
	display: block;
	position: absolute;
	z-index: 6;
	margin: 0;
	top: inherit;
	/*
	animation-name: nav-show;
	animation-direction: normal;
	animation-duration: var(--transition-duration);
	*/
	
	padding: 4rem;
	padding-top: 0;

	/*visibility: visible;*/
	opacity: 1;
	transition: opacity var(--transition-duration), padding var(--transition-duration);
	/*transition: all 1s ease-out;
	transition-timing-function: ease-out;
	transition: visibility 0ms linear 0ms;
	*/
}

nav ul li {
	background-color: var(--black);
	white-space: nowrap;
	text-align: center;
}

nav ul li a {
	padding: 0.5rem 1rem;
}

/* --------------- footer --------------- */
footer {
	background-color: var(--black);
	color: var(--grey);
	height: 13rem;
}

/* --------------- player --------------- */
div#player {
	position: fixed;
	z-index: 4;
	left: 50vw;
	bottom: 7vh;
	transform: translateX(-50%);

	box-sizing: border-box;
	max-width: 100vw;
	width: 1000px;
	height: 7rem;
	padding: 1rem;
	background-color: var(--grey);
}

div#player #title {
	font-weight: bolder;
}