main section {
	padding-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

main a {
	display: block; /*ist notwendig, damit die Margin der Kindelemente klickbar ist*/
	flex: 1 0 20rem;
	transition: color var(--slow-transition-duration);
}

main a:hover,
main a:focus {
	color: var(--blue-medium);
}

main a figure {
	width: 100%;
	height: 100%;
	margin: 0;
}

main a figure figcaption {
	padding: 1rem;
}

main a figure > img {
	object-fit: cover;
	width: 100%;
	height: 15rem;
	filter: brightness(1.0);
	transition: filter var(--slow-transition-duration);
}

main a:hover figure > img,
main a:focus figure > img {
	filter: brightness(1.1);
}